// Frameworks

@import "compass";
@import "html5-boilerplate";

// External plugins e. g. jQuery plugins

//@import "vendor/plugin-name";

// Base colors and sizes

$primary-color: #AD5089;
$background-color: #E8BDB4;
$font-color: darken($primary-color, 20%);
$link-color: #D968A0;

$base-font-family: "warnock-pro-1", "warnock-pro-2", helvetica, arial, sans-serif;
$headline-font-family: $base-font-family;
$small-font-size: 11px;
$base-font-size: 13px;
$large-font-size: 20px;
$x-large-font-size: 30px;
$base-line-height: 1.231;

// HTML5 boilerplate

@include html5-boilerplate;

// Global styles used all over the website
// e. g. tags without classes like h1, h2, a, button, form elements, ...

@import "global/extendables";
@import "global/typography";
@import "global/links";
@import "global/buttons";

// Layout (header, footer, global sidebars)

@import "layouts/default";

// Content partials (article, lists, ...)

//@import "partials/xyz";
