- content_for :head do
  %title Mokkapan
  %script(type="text/javascript")
    $(function(){ $('.picture').fancybox(); });

- @title = 'Über mich/About me'
%h1
  = I18n.t 'about_me.title'

#cv
  %p Geboren am 11. November 1980 in Bangkok (Thailand).
  %figure
  
    %ul
      - @pictures.each do |picture|
        %li=link_to image_tag(picture.img.url(:thumb)), picture.img.url(:max), :class => 'picture', :rel => 'fancy'
    
    = image_tag('mokkapan-foto.png')
  %dl
    %dt 1986
    %dd Erster Geigenunterricht bei Suthin Srinarong, Konzertmeister Bangkok Symphony Orchestra
    %dt 1989, 1990
    %dd Meisterkurse beim Maestro Alberto Lysy, Direktor Menuhin Akademie
    %dt 1990
    %dd Umzug nach Deutschland auf Rat von Maestro Alberto Lysy
    %dt 1990 – 1998
    %dd Musisches Gymnasium in Passau und Schüler des Internats St. Valentin der Diözese Passau
    %dd Geigenunterricht u.a. bei Prof. Ana Chumachenco, Musikhochschule München, Gracia Arutinian, damaliger Konzertmeister Münchner Philharmoniker, Ewa Grudzinska-Pisarek, Konzertmeisterin Südostbayerisches Städtetheater
    %dd Meisterkurse an der Menuhin Akademie, Gstaad, Schweiz
    %dd Mitglied im mehreren Jugendorchestern mit zahlreichen Konzertreisen durch Deutschland und Europa
    %dd 1. Preise beim Wettbewerb Jugend musiziert (1994, 1997)
    %dd Jährliche Solokonzerte in Thailand (Bangkok, Chiang Mai, Hatyai)
    %dt 1998 – 2001
    %dd Musikstudium am Richard-Strauß-Konservatorium München, Violinklasse Urs Stiehler
    %dd Mitwirkung in verschiedenen Konzertprojekten des Richard-Strauß-Konservatoriums und der Philharmonie München
    %dt Seit 1998
    %dd ständiger Gastdozent am College of Music Mahidol Universität Bangkok
    %dt 2001 – 2006
    %dd Studium an der Universität der Künste Berlin
    %dd Violinklasse Prof. Marianne Boettcher
    %dd Diplomstudium in den Fächern Musikwissenschaft und Musikpädagogik
    %dd Besuche der Violinmeisterkurse in Obergurgl, Österreich (2003 – 2005)
    %dd Konzertmeister des Orchesters der Ötztaler Kulturwochen
    %dt 2002
    %dd Praktikum an der Musikschule Berlin Neukölln
    %dt 2003
    %dd Praktikum an der Musikschule Wunstorf, Niedersachsen
    %dd Gründung des LEVE Streichquartetts mit Schwerpunkt zeitgenössischer Musik
    %dd Uraufführungen von mehreren zeitgenössischen Komponisten 
    %dt 2006
    %dd Diplomabschluss an der Universität der Künste Berlin mit Note 1
    %dt 2006 – 2007
    %dd Geigenlehrer an der Musikschule Berlin Kladow, Gatow
    %dt seit 2007
    %dd Selbstständiger Geigenlehrer
    %dt 2007
    %dd Soloauftritt und Privataudienz bei Ihrer Majestät Königin Sirikit von Thailand
    %dt 2007 – 2011
    %dd Mitglied des Ensembles #{link_to "Andromeda Mega Express Orchestra", "http://www.andromedameo.com/"}
    %dd Zahlreiche Konzerte in Europa und Asien
    %dt 2009
    %dd Soloauftritt und Privataudienz bei Ihrer Majestät Kronprinzessin Sirindhorn von Thailand



