@import "compass"
@import "normalize"

$elements-spacing: 10px
@import "elements/*.png"

html
  background: #3a0325 image-url("background.jpg") no-repeat fixed
  +background-size(1700px auto)

body
  font-family: "news-gothic-std-1", "news-gothic-std-2", helvetica, arial, sans-serif
  font-weight: 400
  -webkit-font-smoothing: antialiased

header
  left: 30px
  position: fixed
  top: 20px
  width: 145px

  a
    display: block
    position: relative
    +hide-text

#logo
  +elements-sprite(logo, $dimensions: true)
  +transition(opacity, 0.5s)
  &:hover
    +opacity(0.7)

#mokkapan
  @extend #logo
  bottom: 20px
  left: 45px
  position: fixed
  +elements-sprite(mokkapan, $dimensions: true)

nav
  margin-top: 20px
  a
    margin: 3px 0 3px 22px
    overflow: visible
    +transition(background-color, 0.5s)
    &:hover
      background-color: rgba(white, 0.1) !important
      +box-shadow(rgba(white, 0.2) 0 0 5px)
    &.selected
      &:before,
      &:after
        background: rgba(white, 0.2)
        content: ""
        height: 1px
        left: 0
        margin: 0 -27px
        position: absolute
        top: 50%
        width: 20px
      &:after
        left: auto
        right: 0

@each $id in ueber-mich kuenstler termine geigenunterricht kontakt
  ##{$id}
    +elements-sprite($id, $dimensions: true)


article
  color: #e6d1de
  line-height: 1.4
  margin: 145px 100px 100px 250px
  width: 500px

a
  color: #c2a36e
  +hover-link

p,
ul,
address,
dt,
dd
  font-size: 15px
  font-style: normal
  margin: 0.75em 0
  padding: 0

li, dd
  margin: 0.25em 0 0.25em 30px
  list-style: none
  position: relative
  &:before
    background: rgba(white, 0.2)
    content: ""
    height: 1px
    left: -30px
    position: absolute
    top: 0.7em
    width: 20px

h1
  color: #6e2854
  letter-spacing: 3px
  margin: 0 0 0.75em
  text-transform: uppercase
  width: 600px

h2
  color: #883d6c
  font-size: 18px
  margin: 2em 0 0
  position: relative
  &:after
    border: rgba(white, 0.2) solid
    border-width: 1px 0
    content: ""
    height: 2px
    margin-left: 0.4em
    position: absolute
    top: 0.7em
    width: 100%

dt
  color: #883d6c
  font-weight: bold
  margin-top: 1.5em
  position: relative
  &:after
    background: rgba(white, 0.2)
    content: ""
    height: 1px
    margin-left: 0.4em
    position: absolute
    top: 0.7em
    width: 100%

a[href*=dribbble],
a[href*=twitter]
  display: inline-block
  margin: 0 0 0 0.3em
  vertical-align: -2px
  +elements-sprite(dribbble, $dimensions: true)
  +hide-text

a[href*=twitter]
  +elements-sprite-position(twitter)

img
  border: 1px rgba(white, 0.2) solid
  padding: 2px
