@import "compass";
@import "normalize";

$elements-spacing: 10px;

@import "elements/*.png";

html {
  background: #3a0325 image-url("background.jpg") no-repeat fixed;
  @include background-size(1700px auto);
}

body {
  font-family: news-gothic-std-1, news-gothic-std-2, helvetica, arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

[lang=en] {
  font-style: italic;
}

header {
  left: 30px;
  position: fixed;
  top: 20px;
  width: 145px;
  a {
    display: block;
    position: relative;
    @include hide-text;
  }
}

#logo {
  @include elements-sprite(logo, $dimensions: true);
  @include transition(opacity, 0.5s);
  &:hover {
    @include opacity(0.7);
  }
}

#mokkapan {
  @extend #logo;
  bottom: 20px;
  left: 45px;
  position: fixed;
  @include elements-sprite(mokkapan, $dimensions: true);
}

nav {
  margin-top: 20px;
  a {
    margin: 3px 0 3px 22px;
    overflow: visible;
    @include transition(background-color, 0.5s);
    @include transform(translateZ(0));
    &:hover {
      background-color: rgba(white, 0.1) !important;
      @include box-shadow(rgba(white, 0.2) 0 0 5px);
    }
    &.selected {
      &:before,
      &:after {
        background: rgba(white, 0.2);
        content: "";
        height: 1px;
        left: 0;
        margin: 0 -27px;
        position: absolute;
        top: 50%;
        width: 20px;
      }
      &:after {
        left: auto;
        right: 0;
      }
    }
  }
}

@each $id in ueber-mich kuenstler termine geigenunterricht kontakt {
  ##{$id} {
    @include elements-sprite($id, $dimensions: true);
  }
}

article {
  color: #e6d1de;
  line-height: 1.4;
  margin: 145px 100px 100px 250px;
  width: 500px;
}

a {
  color: #c2a36e;
  @include hover-link;
}

p,
ul,
address,
dt,
dd {
  font-size: 15px;
  font-style: normal;
  margin: 0.75em 0;
  padding: 0;
}

li, dd {
  margin: 0.25em 0 0.25em 30px;
  list-style: none;
  position: relative;
  &:before {
    background: rgba(white, 0.2);
    content: "";
    height: 1px;
    left: -30px;
    position: absolute;
    top: 0.7em;
    width: 20px;
  }
}

h1 {
  color: #6e2854;
  letter-spacing: 3px;
  margin: 0 0 0.75em;
  text-transform: uppercase;
  width: 600px;
  strong {
    color: lighten(#6e2854, 20%);
    display: block;
  }
  p + & {
    margin-top: 2em;
  }
}

h2 {
  color: #883d6c;
  font-size: 18px;
  margin: 2em 0 0;
  position: relative;
  &:after {
    border: rgba(white, 0.2) solid;
    border-width: 1px 0;
    bottom: 0.5em;
    content: "";
    height: 2px;
    margin-left: 0.4em;
    position: absolute;
    width: 100%;
  }
}

dt {
  color: #883d6c;
  font-weight: bold;
  margin-top: 1.5em;
  position: relative;
  &:after {
    background: rgba(white, 0.2);
    content: "";
    height: 1px;
    margin-left: 0.4em;
    position: absolute;
    top: 0.7em;
    width: 100%;
  }
}

dd span {
  color: mix(#e6d1de, #883d6c, 30%);
  display: block;
}

a[href*=dribbble],
a[href*=twitter] {
  display: inline-block;
  margin: 0 0 0 0.3em;
  vertical-align: -2px;
  @include elements-sprite(dribbble, $dimensions: true);
  @include hide-text;
}

a[href*=twitter] {
  @include elements-sprite-position(twitter);
}

img {
  border: 1px rgba(white, 0.2) solid;
  padding: 2px;
}
