.layout {
  background: #3a0325 image-url("background.jpg") no-repeat fixed;
  height: 100%;
  @include background-size(1700px auto);

  &--container {
    display: flex;
    display: flexbox;
    font-family: news-gothic-std-1, news-gothic-std-2, helvetica, arial, sans-serif;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
  }

  &--header {
    padding: 20px;
    width: 215px;

    &-link {
      color: transparent;
      display: block;
      position: relative;
    }
  }

  &--logo,
  &--mokkapan {
    display: block;
    transition: opacity 0.5s;
    @include elements-sprite(logo, $dimensions: true);

    &:hover {
      opacity: 0.7;
    }
  }

  &--mokkapan {
    bottom: 20px;
    left: 45px;
    position: fixed;
    @include elements-sprite(mokkapan, $dimensions: true);
  }

  &--content {
    color: #e6d1de;
    line-height: 1.4;
    padding: 20px;
    position: relative;
    width: 100%;
  }
}

