.navigation {
  margin-top: 20px;

  .navigation--item {
    display: flexbox;
    color: transparent;
    display: block;
    margin: 3px 0 3px 22px;
    overflow: visible;
    transform: translateZ(0);
    transition: background-color 0.5s;

    &:hover {
      background-color: rgba(white, 0.1) !important;
      box-shadow: rgba(white, 0.2) 0 0 5px
    }

    &.-selected {
      &:before,
      &:after {
        background: rgba(white, 0.2);
        content: "";
        height: 1px;
        left: 0;
        margin: 0 -27px;
        position: absolute;
        top: 50%;
        width: 20px;
      }

      &:after {
        left: auto;
        right: 0;
      }
    }

    @each $page in ueber-mich kuenstler termine geigenunterricht kontakt {
      &.-#{$page} {
        @include elements-sprite($page, $dimensions: true);
      }
    }
  }
}

