---
title: 'Geigenunterricht in Berlin'
description: 'Geigenunterricht in Berlin für Kinder in Deutsch, Thailändisch und Englisch durch Mokkapan Phongphit'
---

%h1
  Geigenunterricht in Berlin
= image_tag('geigenunterricht.jpg', width: 480, height: 218)
%h2
  %span Sprachen
%p Deutsch, Thailändisch, Englisch
%h2
  %span Schüler
%ul
  %li ab 5 Jahren
  %li musikalische Früherziehung ab 3 Jahren
  %li Erwachsene, Anfänger, Wiedereinsteiger
  %li Studienvorbereitende Schüler (z. B. Aufnahmeprüfung an der UdK)
%h2
  %span Unterrichtsort
  %span(lang="en") Location
%ul
  %li Uhlandstraße 161, 10719 Berlin (#{link_to "auf der Karte zeigen", 'http://maps.google.com/maps?f=q&source=s_q&hl=de&geocode=&q=Uhlandstra%C3%9Fe+161,+10719+Berlin&sll=37.0625,-95.677068&sspn=39.320439,79.013672&ie=UTF8&hq=&hnear=Uhlandstra%C3%9Fe+161,+Berlin+10719+Berlin,+Deutschland&z=16'})
  %li Jede Woche 1 × im Gebiet Kladow, Gatow, Groß Glienicke
%h2
  %span Methode
%ul
  %li neben den anerkannten Geigenschulen wie z. B. Saßmannshaus, Suzuki, Sevcik, Flesch, russische Schule Kombination mit eigenen Unterrichtsmethoden
  %li parallel zum Instrumentalunterricht auch Gehörübungen, Aneignung von absoluten Gehör, Notenlehre und allgemeine Musiktheorie
  %li individuell an den Schüler angepasst
  %li Spaß steht im Vordergrund. Spaßfaktor = Erfolgsfaktor
%h2
  %span Schülerkonzerte
%ul
  %li Sommerkonzert und Weihnachtskonzert im Gemeindesaal der Kaiser-Wilhelm-Gedächtniskirche oder in der Musikalienhandlung Riedel
%h2
  %span Unterrichtskosten
%ul
  %li keine langfristige Vertragsbindung
  %li Einzelunterricht
%dl
  %dt Einzelunterricht Kinder
  %dd
    4 × 30 Minuten (Vorauszahlung):
    %strong 80 €
  %dt Einzelunterricht Jugendliche
  %dd
    4 × 45 Minuten (Vorauszahlung):
    %strong 120 €
  %dt Einzelunterricht Erwachsene
  %dd
    4 × 60 Minuten (Vorauszahlung):
    %strong 160 €
  %dt Einzelunterricht in Groß Glienicke, Gatow, Kladow
  %dd
    4 × 45 Minuten (Vorauszahlung):
    %strong 140 €
  %dt Unterricht für kleine Gruppen von 2 bis 4 Schülern
  %dd
    4 × 30 Minuten (Vorauszahlung):
    %strong 60 €
  %dd
    4 × 45 Minuten (Vorauszahlung):
    %strong 100 €

