---
title: Mokkapan
---

%h1
  %strong Mokkapan Phongphit
  Geiger und Geigenlehrer in Berlin Wilmersdorf
%p Hier finden Sie Informationen über meine Lehrtätigkeiten in Berlin und Bangkok, privaten Geigenunterricht, Einzelunterricht, Gruppenunterricht, Lehrmethoden, Kurse, Meisterkurse und Konzerte.

%h1(lang="en")
  %strong Mokkapan Phongphit
  Violinist and Violine Teacher in Berlin Wilmersdorf
%p(lang="en") Here you can find informations about my teaching activities in Berlin and Bangkok, private lessons, individual or group lessons, my teaching methods, courses, masterclasses and concerts

