---
title: Mokkapan
---

.home
  = image_tag 'dome-020.jpg', class: 'home--image'
  .home--container
    %h1.home--title Mokkapan Phongphit
    %p.home--sub-title Geiger und Geigenlehrer in Berlin Wilmersdorf
    %p.home--sub-title(lang="en") Violinist and Violine Teacher in Berlin Wilmersdorf

