---
title: Mokkapan
---

.home
  = image_tag 'dome-020.jpg', class: 'home--image'
  .home--container
    .text
      %h1
        %strong Mokkapan Phongphit
        %span Geiger und Geigenlehrer in Berlin Wilmersdorf
        %span(lang="en") Violinist and Violine Teacher in Berlin Wilmersdorf

