---
title: Kontakt
description: 'Kontakdaten und Links von Mokkapan Phongphit zu Geigenklassen in Berlin'
---

.text
  %h1 Kontakt
  %address
    %strong Mokkapan Phongphit
    %br
    Uhlandstraße 161
    %br
    10719 Berlin
    %br
    Deutschland
  %p
    %strong Telefon:
    +49 30 88707881
  %p
    %strong Fax:
    +49 30 88707882
  %p
    %strong E-Mail:
    %a(href="mail@mokkapan.de") mail@mokkapan.de

  :markdown
    Links
    -----

    * [Andromeda Mega Express Orchestra](http://www.andromedameo.com)
    * [Andromeda Mega Express Orchestra (myspace)](http://www.myspace.com/andromedameo)
    * [The Notwist](http://www.notwist.com)
    * [alien tansistor](http://www.alientransistor.de)
    * [TELE](http://www.teledieband.de)
    * [Herbert Grönemeyer](http://www.groenemeyer.de)
    * [MG.SCHOENEBERG](http://www.mg-schoeneberg.de)
    * [Marianne Boettcher](http://www.marianne-boettcher.de)
    * [Collegse of Music—Mahidol University](http://www.music.mahidol.ac.th)
    * [Universität der Künste](http://www.udk-berlin.de)

    Design und Umsetzung
    --------------------

    [Nico Hagenburger](http://www.hagenburger.net)
    [Twitter](https://twitter.com/hagenburger)
    [Dribbble](http://dribbble.com/hagenburger)
