---
title: 'Geigenkünstler'
description: 'Mokkapan Phongphit ist berliner Geigenkünstler thailändischer Abstammung, zu dessen Repartoire Jazz, elektronische Musik und Klassik gehören.'
---

%h1
  %span Geigenkünstler
:markdown
  Jazz
  ----

  * Vier Jahre Mitglied des [Andromeda Mega Express Orchestra](http://www.andromedameo.com)
  * Erstes Studioalbum „Take Off!“ 05/09 beim Label Alien Transistor
  * Zahlreiche Konzerte in Europa und Asien
  * Teilnahme bei den renommierten Festivals wie z. B. Jazz Baltica (Schleswig Holstein Musikfestival), JazzFest Berlin, Jazzestival Basel, BeJazz Bern, Enjoy Jazz usw.)
  * Enge Zusammenarbeit mit [The Notwist](http://www.notwist.com/), eine der bedeutendsten und erfolgreichsten Band der deutschen Independent-Szene


  Pop/elektronische Musik
  -----------------------

  Zusammenarbeit mit vielen Künstlern für Live-Auftritte und Studioaufnahmen wie z. B. Herbert Grönemeyer, Patricia Kaas, The Notwist, TELE, Ari Benjamin Meyers Redux Orchestra vs Sun Electric, La Fee, Lara Fabian, Dennis Lisk, Inlinsey usw.


  Klassik
  -------

  LEVE Streichquartett mit Benedikt Bindewald (Violine, Viola), Josa Gerhard (Violine, Viola) und Charlotte Jacke (Cello)

  Das Quartett entstand während der Studienzeit an der Universität der Künste Berlin und konzentriert sich auf Musik des 20. Jahrhunderts und zeitgenössischer Musik. Ständiger Betreuer ist Rainer Johannes Kimstedt, Mitbegründer des Kreuzberger Streichquartetts und ehemaliger Mitglieder des Brahms Quartetts Hamburg.

  Zahlreiche Uraufführungen von Werken zeitgenössischer Komponisten wie z. B. Hans Wüthrich, Daniel Ott oder auch junge Komponisten wie z. B. Eleftherios Veniadis

  Konzerte bei Festivals und Projekten wie z. B. Experiment Geschwindigkeit IL TRENO von John Cage, Klangzeitort der Institut für neue Musik Berlin od. Fête de la Musique mit dem 2. Streichquartett von Bela Bartok

  2007 Auftritt des Quartetts vor der thailändischen Königin Sirikit während ihres Besuches in Berlin


  Thai Musik
  ----------

  eigene Bearbeitungen thailändischer Musik (Folklore, Thai Klassik, Kompositionen des Königs) für Violine Solo oder Streichquartett
  Auftritte bei Asien-Pazifik-Wochen Berlin, Mekong-Länder-Tag Berlin
  Musikalische Begleitung zur Premiere des Buches „Geister der gelben Blätter“ von M.G.Schoeneberg (2007)
  Soloauftritte auf Staatsbanketts anlässlich des thailändischen Nationalfeiertages im Hotel Adlon Berlin
  Solokonzert im Jahr 2007 vor Königin Sirikit von Thailand
  Solokonzert im Jahr 2009 vor Kronprinzessin Sirindhorn von Thailand
