---
title: Termine
description: 'Konzerttermine von Mokkapan Phongphit'
---

%h1 Termine

%h2 Gastauftritt Konzert „Berlin feiert Cohen“
%p
  %b 21.09.2014, 20:00 Uhr
%p Zum Leonard Cohens 80. Geburtstag in der Passionskirche am Marheinekeplatz, Berlin Kreuzberg
%p
  = link_to 'http://www.musikexpress.de/news/meldungen/article609363/leonard-cohen-madsen-nina-hagen-und-fehlfarben-interpretieren-seine-lieder-in-deutscher-sprache.html'
  = link_to 'http://www.koka36.de/BERLIN%20feiert%20COHEN_ticket_61389.html'

%h2 Jahreskonzert der Schüler- und Studentenklasse von Mokkapan Phongphit
%p
  %b 15.03.2015, 15:00 Uhr
%p Im Großen Saal der Auen-Kirchengemeide, Wilhelmsaue 118a, 10715 Berlin-Wilmersdorf

