---
title: Termine
description: 'Konzerttermine von Mokkapan Phongphit'
---

.text
  %h1 Termine

  %h2 Jahreskonzert der Schüler- und Studentenklasse von Mokkapan Phongphit
  %p
    %b 15.03.2015, 15:00 Uhr
  %p Im Großen Saal der Auen-Kirchengemeide, Wilhelmsaue 118a, 10715 Berlin-Wilmersdorf

