---
title: Termine
description: 'Konzerttermine von Mokkapan Phongphit'
---

.text
  %h1 Termine

  %h2 Concentus Alius – Paris-Konzert
  %p
    %b 02.05.2020, 19:30 Uhr
  %p
    %a(href="https://www.localprayers.com/FR/Paris/361248977254948/Saint-Christophe-de-Javel")
      Saint Christophe de Javel
    28 Rue Convention, 75015 Paris

  %h2 Concentus Alius – Berlin-Konzert
  %p
    %b 09.05.2020, 18:00 Uhr
  %p
    %a(href="https://de.wikipedia.org/wiki/Lindenkirche_(Berlin)")
      Lindenkirche
    Homburger Straße 48/Johannesbergerstraße 15&thinsp;a (Nähe Rüdesheimer Platz), 14197 Berlin-Wilmersdorf
