---
title: 'Über mich'
description: 'Lebenslauf und Ausbildung von Mokkapan Phongphit'
---

.text
  = image_tag 'dome-228.jpg', class: 'right'
  %h1.right
    %span Über mich
  = image_tag 'dome-275.jpg', class: 'full'
  #cv
    %p Geboren am 11. November 1980 in Bangkok (Thailand).
    %dl
      %dt 1986
      %dd
        Erster Geigenunterricht bei Suthin Srinarong, Konzertmeister Bangkok Symphony Orchestra
        %span(lang="en") First violin lesson with Suthin Srinarong, concertmaster of Bangkok Symphony Orchestra
      %dt 1989, 1990
      %dd
        Meisterkurse beim Maestro Alberto Lysy, Direktor Menuhin Akademie
        %span(lang="en") Master class Maestro Alberto Lysy, Director of Menuhin Academy
      %dt 1990
      %dd
        Umzug nach Deutschland auf Rat von Maestro Alberto Lysy
        %span(lang="en") With advice from Maestro Lysy move to Germany
      %dt 1990 – 1998
      %dd
        Musisches Gymnasium in Passau und Schüler des Internats St. Valentin der Diözese Passau
        %span(lang="en") Auersperg Academic high school for music (Musisches Gymnasium) and boarding school St. Valentin of diocese Passau in Bavaria, Germany
      %dd
        Geigenunterricht u. a. bei Prof. Ana Chumachenco, Musikhochschule München, Gracia Arutinian, damaliger Konzertmeister Münchner Philharmoniker, Ewa Grudzinska-Pisarek, Konzertmeisterin Südostbayerisches Städtetheater
        %span(lang="en") Violin lessons including by Professor Ana Chumachenco, College of Music, Munich; Gracia Arutinia, former concertmaster of Munich Philharmonic Orchestra; Ewa Grudzinska-Pisarek, concertmaster of Lower Bavarian Philharmonic Orchestra
      %dd
        Meisterkurse an der Menuhin Akademie, Gstaad, Schweiz
        %span(lang="en") Master classes at Menuhin Academy, Gstaad in Switzerland
      %dd
        Mitglied im mehreren Jugendorchestern mit zahlreichen Konzertreisen durch Deutschland und Europa
        %span(lang="en") Member of several Youth Orchestras with numerous concert tours around Germany and Europe
      %dd
        1. Preise beim Wettbewerb „Jugend musiziert“ (1994, 1997)
        %span(lang="en") First prizes at “Jugend musiziert” competition (1994, 1997)
      %dd
        Jährliche Solokonzerte in Thailand (Bangkok, Chiang Mai, Hatyai)
        %span(lang="en") Annual Solo concerts in Thailand (Bangkok, Chiang Mai, Hat Yai)
      %dt 1998 – 2001
      %dd
        Musikstudium am Richard-Strauss-Konservatorium München, Violinklasse Urs Stiehler
        %span(lang="en") Study Violin performance at Richard Strauss Conservatory Munich by Professor Urs Stiehler
      %dd
        Mitwirkung in verschiedenen Konzertprojekten des Richard-Strauss-Konservatoriums und der Philharmonie München
        %span(lang="en") Participations of several concerts at Richard Strauss Conservatory and Philharmonic Munich
      %dt Seit 1998 Since 1998
      %dd
        ständiger Gastdozent am College of Music Mahidol Universität Bangkok
        %span(lang="en") perpetually guest lecturer at College of Music Mahidol University of Bangkok
      %dd
        Bachelor-Abschluss in Musik
        %span(lang="en") Bachelor Degree of Music
      %dt 2001 – 2006
      %dd
        Studium an der Universität der Künste Berlin
        %span(lang="en") Study at University of Art Berlin
      %dd
        Violinklasse Prof. Marianne Boettcher
        %span(lang="en") Violin performance class of Professor Marianne Boettcher
      %dd
        Diplomstudium in den Fächern Musikwissenschaft und Musikpädagogik
        %span(lang="en") Also Master study in Music Science and Music Pedagogy
      %dt 2002
      %dd
        Praktikum an der Musikschule Berlin Neukölln
        %span(lang="en") Internship at Municipal Music School Berlin Neukölln (2002)
      %dt 2003
      %dd
        Praktikum an der Musikschule Wunstorf, Niedersachsen
        %span(lang="en") Internship at Municipal Music School Wunstorf, Lower Saxony (2003)
      %dd
        Gründung des LEVE Streichquartetts mit Schwerpunkt zeitgenössischer Musik
        %span(lang="en") Founding LEVE String quartet with focus on contemporary music Premiere numerous compositions of contemporary composers
      %dd
        Besuche der Violinmeisterkurse in Obergurgl, Österreich (2003 – 2005)
        %span(lang="en") Violin Master classes Obergurgl, Austria (2003 – 2005)
      %dd
        Konzertmeister des Orchesters der Ötztaler Kulturwochen
        %span(lang="en") Concertmaster Orchestra of Öztal Culture week
      %dd
        Uraufführungen von mehreren zeitgenössischen Komponisten
        %span(lang="en") X
      %dt 2006
      %dd
        Diplomabschluss an der Universität der Künste Berlin mit Note 1
        %span(lang="en") Master Degree University of Art Berlin with A graduation
      %dt 2006 – 2007
      %dd
        Geigenlehrer an der Musikschule Berlin Kladow, Gatow
        %span(lang="en") Violin teacher at Music School Berlin Kladow, Gatow
      %dt seit/since 2007
      %dd
        Selbstständiger Geigenlehrer
        %span(lang="en") Independent Violin teacher
      %dt 2007
      %dd
        Soloauftritt und Privataudienz bei Ihrer Majestät Königin Sirikit von Thailand
        %span(lang="en") Solo performance and private audience for her majesty Queen Sirikit of Thailand
      %dt 2007 – 2011
      %dd
      Mitglied des Ensembles #{link_to "Andromeda Mega Express Orchestra", "http://www.andromedameo.com/"}
      %span(lang="en") Member of #{link_to "Andromeda Mega Express Orchestra", "http://www.andromedameo.com/"}
    %dd
      Zahlreiche Konzerte in Europa und Asien
      %span(lang="en") Numerous concert tours in Europe and Asia
    %dt 2009
    %dd
      Soloauftritt und Privataudienz bei Ihrer Majestät Kronprinzessin Sirindhorn von Thailand
      %span(lang="en") Solo performance for her majesty Crown Princess Sirindhorn of Thailand
    %dt seit/since 2011
    %dd
      Teilzeitmitglied des Deutschen Filmorchesters Babelsberg
      %span(lang="en") Part time member of the German Film Orchestra Babelsberg
    %dt seit Juli 2011/since July 2011
    %dd
      Gastprofessur an der Mahidol Universität Bangkok
      %span(lang="en") Permanent Visiting Professor at the Mahidol University Bangkok
